name: cnn_env
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.10
  - pip
  - pip:
      - tensorflow==2.19.0
      - scikit-learn
      - matplotlib
      - seaborn
      - jupyter

